-----BEGIN CERTIFICATE-----
MIIDnzCCAoegAwIBAgIUOuzoBCpwsx0h6mn0A0LT76maR3YwDQYJKoZIhvcNAQEL
BQAwXzELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEYMBYGA1UEAwwPZnRwLmV4YW1wbGUu
Y29tMB4XDTIwMTIwNjE5MjIwMVoXDTMwMTIwNDE5MjIwMVowXzELMAkGA1UEBhMC
QVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoMGEludGVybmV0IFdpZGdp
dHMgUHR5IEx0ZDEYMBYGA1UEAwwPZnRwLmV4YW1wbGUuY29tMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyGgWJ+otyU8aPWqLo3PzGJTQqZiPr8aJ/qmm
AwBz0s+qMc2KhVgcrZZDkVks8C0ukjH6yN3zHnmaYc4/2VU3cui7dy2OwWnQyIpV
jqkTefYrZ02nJaKu8P3XOyf47Bk0g+1RJLeoDBBEJ0VC6nS2Z+30CrqZPm+Ikpcp
ifZHQ12HHqnQsWvaMJ/YaO5s76W9CyhPAX1zI1GZYHR1jaqc7t91DigDnXnb5+lj
mXEfbMDMqAZb5yz1sU3Ij52fJ0m+MMsvVANZH2ebL13Fg1wsTw875pJIlC8XsjJX
jGas8hP6ZkLXlkVMDHIcFU56XlTBZkVxjd7s3D4ZA0Q6O08JJQIDAQABo1MwUTAd
BgNVHQ4EFgQUOxH/RxWDPj/9WwpnNLv5A62PlGAwHwYDVR0jBBgwFoAUOxH/RxWD
Pj/9WwpnNLv5A62PlGAwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEAnKqm2aCXW8mmJLWkOm6kmRMPTcc0CrJmUP5IzjzjdKTZAGRliQqqFvbxf4Xg
IOefESymtJOKsMICDIa9M+texOUbUHIkENOqKAjnMrafe9FDS3RU9twmao64aehX
Ik43AlW0P1Bh5pZG1UfxDWs4JoaOPZf1mOXd68H7adcYb5EmZ4Tt+GZUe1h0xZ3B
fDod2KlN1eao6CBCnTkwJ0kCi/fre/PNNulyXwBQtWschEURWwI1n1AAwjEct0fg
672XhqVWdVYczuGikpbiQz2EyHfLGhcvTJQDvsB7PL1IAFiumCnnfLMsQSCOkoW+
6qLGDTdw8mahHFdfHBh1tjUQFQ==
-----END CERTIFICATE-----
